fastapi
websockets
numpy
scipy
soundfile

openai

pyautogen
pyautogen[redis]
pyautogen[ipython]
pyautogen[blendsearch]<0.2
pyautogen[retrievechat]
unstructured[all-docs]
pyautogen[teachable]
pyautogen[lmm]
pyautogen[mathchat]<0.2
pyautogen[graph]
pyautogen[long-context]

pydub
noisereduce
numpy
